.idea
result
*.md
/.direnv/

manual-solutions/**/c/**/test-framework
manual-solutions/**/c/**/makefile
manual-solutions/**/c/**/README.md
manual-solutions/**/c/**/*.s
manual-solutions/**/c/**/test*.c
