.idea
result
*.md
/.direnv/

**/c/**/test-framework
**/c/**/makefile
**/c/**/README.md
**/c/**/*.s
**/c/**/test*.c

**/java/**/*.css
**/java/**/*.gradle
**/java/**/*.lock
**/java/**/*.properties
**/java/**/*.html
**/java/**/*.bin
**/java/**/*.probe
**/java/**/gradlew
**/java/**/*.bat
**/java/**/*.idx
**/java/**/*.class
**/java/**/*.jar
**/java/**/*.js
**/java/**/*.xml
